<!DOCTYPE html>
{% load static %} 
<html>
<head>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Web Shop</title>
</head>
<body>
<div id="container">
	<div id="header">
		<img src="{% static 'images/logo.jpg' %}" id="logo" alt="image of a logo">
		<ul class="navigation">
		  <li class="navitem active" >
			<a class="center" href="{% url 'home' %}">Home</a>
		  </li>
		  <li class="navitem">
			<a class="center" href="{% url 'shop' %}">Shop</a>
		  </li>
		  <li class="navitem">
			<a class="center" href="{% url 'about' %}">About</a>
		  </li>
		  <li class="navitem">
			<a class="center" href="{% url 'contact' %}">Contact us</a>
		  </li>
		  {% if user.is_authenticated %}
		  <li class="navitem2">
			<a class="center" href="{% url 'logoutuser' %}">Logout</a>
		  </li> 
		  {% else %} 
		   <li class="navitem2">
			<a class="center" href="{% url 'loginuser' %}">Login</a>
		  </li> 
		  {% endif %}
		  <li class="navitem">
			<div class="center"><img src="{% static './images/cart.png' %}" style="padding-right: 4px" alt="shopping cart"><a href="{% url 'cart' %}">Cart</a></div>
		  </li>
		</ul>
	</div>
	<div id="body">
		<div style="text-align:center">
			<h2>Newest item:</h2>
			<div>
			<img src="{% static './izdelki/' %}{{newitem.name}}.jpg"   style="max-height:300px;max-width: 80%;width:auto;height:auto;" alt="image of a product">
			<div style="font-weight:bold;">{{ newitem.name }}</div>
			</div>
			
		</div>
		<hr>
		<h2 style="text-align:center" >Offers</h2>

		<div class="content wrap">
			<div  class="content wrap" id="items">
				{% if products %}
					{% for product in products %}
						<div style="max-height:300px;max-width: 80%;margin: 0px 20px 20px 20px;">
							<img src="{% static './izdelki/' %}{{product.name}}.jpg"  style=" width:100%;height:auto;" alt="image of a product">
							{% for promotion in promotions %}
								{% if promotion.id_Product.id == product.id %}
								<div style="font-weight:bold;">{{ product.name }}, {{ promotion.discount }}% off</div>
								{% endif %}
							{% endfor %}
						</div >
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<br>
		<br>	
	</div>
	<div id="footer">
		<h3 class="center">Copyright</h3>
	</div>
</div>
</body>


</html>
