<!DOCTYPE html> 
{% load static %} 
<html>
<head>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Web Shop</title>
</head>
<body>
<div id="container">
	<div id="header">
		<img src="{% static 'images/logo.jpg' %}" id="logo" alt="image of a logo">
		<ul class="navigation">
		  <li class="navitem" >
			<a class="center" href="{% url 'home' %}">Home</a>
		  </li>
		  <li class="navitem">
			<a class="center" href="{% url 'shop' %}">Shop</a>
		  </li>
		  <li class="navitem">
			<a class="center" href="{% url 'about' %}">About</a>
		  </li>
		  <li class="navitem">
			<a class="center" href="{% url 'contact' %}">Contact us</a>
		  </li>
		  {% if user.is_authenticated %}
		  <li class="navitem2">
			<a class="center" href="{% url 'logoutuser' %}">Logout</a>
		  </li> 
		  {% else %} 
		   <li class="navitem2">
			<a class="center" href="{% url 'loginuser' %}">Login</a>
		  </li> 
		  {% endif %}
		  <li class="navitem">
			<div class="center"><img src="{% static './images/cart.png' %}" style="padding-right: 4px" alt="shopping cart"><a href="{% url 'cart' %}">Cart</a></div>
		  </li>
		</ul>
	</div>
	<div id="body">
		<h2 style="text-align:center" >Order:</h2>
		<div class= "columns wrap" >	
			<div class="rows border form">
				{% for product in products %}
					<div class= "rows" >
						<div class="columns listitem" >
							<img src="{% static './izdelki/' %}{{product.name}}.JPG" style="width:50px;height:50px;" alt="image of a product">
						</div>
						<div class="columns listitem" >
							<span style="font-weight:bold">Product: </span>
							<span>{{ product.name }}</span>
						</div>
						<div class="columns listitem" >
							<span style="font-weight:bold">Price: </span>
							<span>{{ product.price }}€</span>
						</div>		
						<div class="columns listitem" >
							<span style="font-weight:bold">Quantity: </span>	
							{% for key, value in quantity.items %}
								{% if key == product.id|slugify %}
								<span>{{ value }}</span>
								{% endif %}
							{% endfor %}
						</div>
				</div>	
				{% endfor %}
				<div class="rows" >
					<div class="rows listitem" >
						<span style="font-weight:bold">Total price including promotions: </span>							
						<span>{{ total }}€</span>
					</div>
				</div>
			</div>
			
			<form class="rows border form" action="{% url 'finishorder' %}" method="post">
			{% csrf_token %}
			{% if user.is_authenticated %}
				<h2>Your info:</h2>
				<div class= "rows" >
					<div class="rows listitem" >
						<span style="font-weight:bold">Name: </span>
						<span>{{ customer.name }}</span>
					</div>
					<div class="rows listitem" >
						<span style="font-weight:bold">Lastname: </span>
						<span>{{ customer.lastname }}</span>
					</div>
					<div class="rows listitem" >
						<span style="font-weight:bold">Email: </span>
						<span>{{ customer.email }}</span>
					</div>		
					<div class="rows listitem" >
						<span style="font-weight:bold">Phone: </span>
						<span>{{ customer.phone }}</span>
					</div>
					<div class="rows listitem"  >
						<span style="font-weight:bold">Address: </span>							
						<span>{{ address.address }}</span>
					</div>
					<div class="rows listitem"  >
						<span style="font-weight:bold">Zip code: </span>							
						<span>{{ address.zipcode }}</span>
					</div>
				</div>
			{% else %}	
				<h2>Please input your info:</h2>
				<label style="padding-bottom: 5px">Email: </label>
				<input style="width:100%" type="email" name="email" placeholder="example@provider.com" required>
				<label style="padding:20px 0px 5px 0px">Name: </label>
				<input style="width:100%" type="text" name="name" placeholder="Jack" required>
				<label style="padding:20px 0px 5px 0px">Lastname: </label>
				<input style="width:100%" type="text" name="lastname" placeholder="Smith" required>
				<label style="padding:20px 0px 5px 0px">Address: </label>
				<input style="width:100%" type="text" name="address" placeholder="Some Street 15" required>
				<label style="padding:20px 0px 5px 0px">Zip code: </label>
				<input style="width:100%" type="text" name="zipcode" placeholder="1000" required>
				<label style="padding:20px 0px 5px 0px">Phone number: </label>
				<input style="width:100%" type="text" name="phone" placeholder="031123456">				
			{% endif %}
				<input type="submit"  style="margin-top: 20px" value="Send order" />
			</form>
		</div>
	</div>
	<div id="footer">
		<h3 class="center">Copyright</h3>
	</div>
</div>
</body>
</html>
