body{
	margin: 0;
	
}

#header {
	width: 100%;
	height: 180px;
    color: white;
    background-color: gray;
    text-align: center;
	position:relative;
}

#logo{
	height:100px;
	float:left;
	margin: 10px 0px 0px 10px ; 
	border-radius: 10px;	
}


button{
	width: 150px;
	height: 30px;
	background-color: white;	
}

button:hover{
	background-color: red;
	
}

#footer {
	width: 100%;
	height: 100px;
    color: white;
    background-color: black;
    text-align: center;
	position: relative;
}

box {
	width: 100%;
	height: 100%;
	float: left;
	background-color: blue;
}

.navigation {
  list-style: none;
  margin: 0; 
  padding: 0;
  background: white;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: strech;
  
  
}

.topbar {
  list-style: none;
  margin: 0; 
  padding: 0;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end; 
  
}

.baritem{
  padding: 0px;
  height: auto;
  width: auto;
  text-align: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.navitem {
  flex-grow: 1;
  padding: 0px;
  height: auto;
  width: 25%;	
  text-align: center;
}
.navigation a:hover {
  background: orange;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .topbar {
	-webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
	  
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
	
  .navitem {
	flex-grow: 1;
	padding: 0px;
	height: auto;
	width: 100%;	
	text-align: center;
	}
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
.innershadow {
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(89,89,89,1);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(89,89,89,1);
	box-shadow: inset 0px 0px 0px 2px rgba(89,89,89,1);
}

element {
	width: 100%;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
	display: inline-block;
}
element a:link, a:visited {
	color:black;
    text-align: center;
    text-decoration: none;
    display: block;
}

element:hover {
	-webkit-box-shadow:inset 0px -10px 0px 0px gray;
	-moz-box-shadow:inset 0px -10px 0px 0px gray;
	box-shadow:inset 0px -10px 0px 0px gray;
}

* {
    font-family: arial;
}

.active {
	background-color: orange;
}

